/******************** Head3 *********************/

.head3 .order {
	position: absolute;
	bottom: 100px;
	width: 100%;
	text-align: center;
}

.head3 .order div {
	background: rgba(255, 255, 255, 0.27);
	border: 1px solid #ffffff;
	border-radius: 100px;
	width: 248px;
	height: 58px;
	line-height: 58px;
	font-size: 24px;
	color: #000;
	display: inline-block;
	font-weight: bold;
}


/******************** Head4 *********************/

.head4 {
	height: 150px;
}

.head4 .items {
	width: 300px;
	height: 100%;
	display: inline-block;
	margin-top: 40px;
}

.head4 .items .item {
	height: 100%;
	display: inline-block;
	text-align: center;
	float: left;
	color: #000;
}

.head4 .items .item.item1 {
	width: 30%;
}

.head4 .items .item.item2 {
	width: 70%;
}

.head4 .items .item img {
	width: 62px;
}

.head4 .items .item .title1 {
	font-family: PingFangSC-Semibold;
	font-size: 26px;
	color: #e97c1d;
	line-height: 40px;
	font-weight: bold;
}

.head4 .items .item .title2 {
	font-family: PingFangSC-Light;
	font-size: 20px;
	color: #494949;
	line-height: 30px;
}


/******************** Head5 *********************/

.head5 .items {
	width: 1100px;
	display: inline-block;
}

.head5 .items .item {
	width: 25%;
	height: 250px;
	display: inline-block;
	text-align: center;
	float: left;
	color: #000;
}

.head5 .items .item .cover {
	background: #f9f9f9;
	width: 160px;
	height: 160px;
	border-radius: 100%;
	display: inline-block;
}

.head5 .items .item .cover.cover1 {
	background-image: url("../img/index/1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .cover.cover2 {
	background-image: url(../img/index/1.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .cover.cover3 {
	background-image: url(../img/index/3.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .cover.cover4 {
	background-image: url(../img/index/4.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .cover.cover5 {
	background-image: url(../img/index/5.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .cover.cover6 {
	background-image: url(../img/index/6.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .cover.cover7 {
	background-image: url(../img/index/7.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .cover.cover8 {
	background-image: url(../img/index/8.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.head5 .items .item .txt {
	font-size: 14px;
	color: #4a4a4a;
	float: left;
	width: 100%;
	margin-top: 10px;
}


/******************** Head6 *********************/

.head6 .items {
	width: 1100px;
	display: inline-block;
}

.head6 .items .item1 {
	line-height: 50px;
	border-bottom: 1px solid #cdcdcd;
	display: inline-block;
	width: 100%;
}

.head6 .items .item1 .title1 {
	font-family: PingFangSC-Semibold;
	font-size: 30px;
	color: #ff9436;
	font-weight: bold;
}

.head6 .items .item1 .title2 {
	font-family: PingFangSC-Light;
	font-size: 24px;
	color: #4a4a4a;
	margin-left: 10px;
}

.head6 .items .more {
	font-family: PingFangSC-Light;
	font-size: 14px;
	color: #9b9b9b;
	text-align: left;
}

.head6 .item2 {
	height: 300px;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	-ms-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	-o-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	float: left;
}

.head6 .item2 .left {
	width: 40%;
	height: 100%;
	display: inline-block;
}

.head6 .item2 .right {
	width: 54%;
	height: 100%;
	display: inline-block;
	margin: 2% 3%;
}

.head6 .item2 .right .title1 {
	font-family: PingFangSC-Semibold;
	font-size: 18px;
	color: #4f4f4f;
	line-height: 25px;
}

.head6 .item2 .right .title2 {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #999999;
	text-align: left;
}

.head6 .item2 .right .price {
	font-family: PingFangSC-Regular;
	font-size: 20px;
	color: #ff001f;
	text-align: left;
	margin-left: 15px;
}

.head6 .item2 .right .try {
	background: #ff9436;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
}

.head6 .item2 .right .totalnum {
	background: #ececec;
	border-radius: 100px;
	width: 100%;
	height: 8px;
	position: relative;
	display: inline-block;
}

.head6 .item2 .right .currnum {
	background: #ff9436;
	border-radius: 100px;
	width: 100px;
	height: 8px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
}

.head6 .item2 .right .currpercent {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #4f4f4f;
	position: absolute;
	left: 0px;
	top: -20px;
}

.head6 .item2 .right .already {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #e97c1d;
	margin-left: 15px;
}

.head6 .item2 .right .list {
	border: 1px solid #ebebeb;
	border-radius: 3px;
	width: 100%;
	height: 80px;
}

.head6 .item2 .right .list div.notice {
	margin: 10px;
}

.head6 .item2 .right .list span:first-child {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #979797;
	text-align: left;
}

.head6 .item2 .right .list span:last-child {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #4a4a4a;
	text-align: left;
	margin-left: 30px;
}


/******************** Head7 *********************/

.head7 .items {
	background: #f5f5f5;
	width: 1100px;
	height: 500px;
	margin-top: 50px;
	display: inline-block;
	position: relative;
}

.head7 .items .left {
	width: 30%;
	height: 100%;
	display: inline-block;
}

.head7 .items .right {
	width: 64%;
	height: 100%;
	display: inline-block;
	margin: 3%;
}

.head7 .items .right .title1 {
	font-family: PingFangSC-Semibold;
	font-size: 30px;
	color: #ff9436;
	font-weight: bold;
}

.head7 .items .right .title2 {
	font-family: PingFangSC-Light;
	font-size: 24px;
	color: #494949;
	margin-top: 15px;
}

.head7 .items .more {
	background: #9b9b9b;
	width: 45px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
	position: absolute;
	right: 3%;
	top: 0px;
}

.head7 .items .right .border {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.50);
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.head7 .items .right .list {
	width: 100%;
	height: 285px;
	overflow: hidden;
}

.head7 .items .right .list .item {
	width: 30%;
	margin-left: 5%;
	height: 100%;
	display: inline-block;
	background: #fff;
	float: left;
}

.head7 .items .right .list .item:first-child {
	margin-left: 0px;
}

.head7 .items .right .list .item img {
	width: 100%;
	height: 190px;
}

.head7 .items .right .list .item .price {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #9b9b9b;
	padding: 5px 10px;
}

.head7 .items .right .list .item .currprice {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #ff9436;
	margin-left: 15px;
}

.head7 .items .right .list .item div:last-child {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #2a2a2a;
	padding: 0px 10px;
	line-height: 20px;
	height: 60px;
}


/******************** Head8 *********************/

.head8 .items {
	background: #f5f5f5;
	width: 1100px;
	height: 500px;
	margin-top: 50px;
	display: inline-block;
	position: relative;
}

.head8 .items .right {
	width: 30%;
	height: 100%;
	display: inline-block;
}

.head8 .items .left {
	width: 64%;
	height: 100%;
	display: inline-block;
	margin: 3%;
}

.head8 .items .left .title1 {
	font-size: 30px;
	color: #ff9436;
	text-align: right;
	font-weight: bold;
}

.head8 .items .left .title2 {
	font-size: 24px;
	color: #494949;
	text-align: right;
	margin-top: 15px;
}

.head8 .items .more {
	background: #9b9b9b;
	width: 45px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
	position: absolute;
	left: 3%;
	top: 0px;
}

.head8 .items .left .border {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.50);
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.head8 .items .left .list {
	width: 100%;
	height: 285px;
	overflow: hidden;
}

.head8 .items .left .list .item {
	width: 30%;
	margin-left: 5%;
	height: 100%;
	display: inline-block;
	background: #fff;
	float: left;
}

.head8 .items .left .list .item:first-child {
	margin-left: 0px;
}

.head8 .items .left .list .item img {
	width: 100%;
	height: 190px;
}

.head8 .items .left .list .item div.price {
	font-size: 14px;
	color: #9b9b9b;
	padding: 5px 10px;
}

.head8 .items .left .list .item div.price span.currprice {
	font-size: 14px;
	color: #ff9436;
	margin-left: 15px;
}

.head8 .items .left .list .item div:last-child {
	font-size: 14px;
	color: #2a2a2a;
	padding: 0px 10px;
	line-height: 20px;
	height: 60px;
}


/******************** Head9 *********************/

.head9 {
	height: 550px;
	background-image: url("../img/index/13.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% background-color: #f9f9f9;
	background-color: #f2f2f2;
	margin-top: 40px;
}

.head9 .items {
	width: 1100px;
	margin-top: 50px;
	display: inline-block;
	position: relative;
}

.head9 .items .totalnum {
	background: #e8e8e8;
	border-radius: 100px;
	width: 100%;
	height: 20px;
	position: relative;
	display: inline-block;
	margin-top: 50px;
}

.head9 .items .currnum {
	background-color: #e97c1d;
	background-image: url(../img/index/16.png);
	border-radius: 100px;
	width: 100px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
}

.head9 .items .currpercent {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #4f4f4f;
	position: absolute;
	left: 0px;
	top: -48px;
}

.head9 .items .currpercent .car {
	margin-top: 20px;
	margin-left: -7px;
}

.head9 .items .currpercent .num {
	margin-top: 4px;
	margin-left: -65px;
	font-size: 14px;
	color: #ffffff;
	float: left;
}

.head9 .items .left {
	width: 55%;
	margin-left: 5%;
	display: inline-block;
	float: left;
}

.head9 .items .left .item {
	line-height: 33px;
	margin-bottom: 20px;
	width: 100%;
	float: left;
}

.head9 .items .left .item:first-child {
	margin-top: 50px;
}

.head9 .items .left .item .left1 {
	width: 100px;
	display: inline-block;
	float: left;
}

.head9 .items .left .tip {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #868686;
}

.head9 .items .left span {
	float: left;
}

.head9 .items .left .city {
	font-family: PingFangSC-Semibold;
	font-size: 12px;
	color: #ff9436;
	margin-left: 10px;
}

.head9 .items .left .input {
	background: #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	width: 248px;
	height: 33px;
	float: left;
	text-align: center;
	outline: none;
}

.head9 .items .left .calculate {
	position: relative;
	display: inline-block;
	width: 248px;
	height: 33px;
}

.head9 .items .left .calculate .input {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.head9 .items .left .calculate .plus {
	position: absolute;
	right: 10px;
	top: 0px;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #4a4a4a;
	z-index: 2;
	cursor: pointer;
}

.head9 .items .left .calculate .reduce {
	position: absolute;
	left: 10px;
	top: 0px;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #4a4a4a;
	z-index: 2;
	cursor: pointer;
}

.head9 .items .left .btn {
	background: #e97c1d;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	margin-top: 10px;
}

.head9 .items .right {
	background: #ffffff;
	border-radius: 8px;
	width: 35%;
	margin-right: 5%;
	height: 220px;
	display: inline-block;
	float: right;
	margin-top: 50px;
}

.head9 .items .right .cover {
	background: #737373;
	border-radius: 8px 8px 0px 0px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #ffffff;
	float: left;
}

.head9 .items .right .item {
	line-height: 20px;
	width: 80%;
	margin: 0px 30px;
	float: left;
	margin-top: 20px;
	color: #636363;
}

.head9 .items .right .item span {
	color: #000;
	margin-left: 15px;
}