/******************** 参加众筹提示框 *********************/

.joincover {
	position: fixed;
	left: 0px;
	top: 30%;
	width: 100%;
	z-index: 1000;
	text-align: center;
}

.joincover .add {
	background: rgba(0, 0, 0, 0.74);
	border-radius: 8px;
	width: 650px;
	height: 370px;
	display: inline-block;
	position: relative;
	color: #fff;
}

.joincover .add .border1 {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .add .border2 {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .add .border3 {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .add .border4 {
	position: absolute;
	right: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .add .content {
	width: 450px;
	height: 170px;
	position: absolute;
	left: 100px;
	top: 100px;
}

.joincover .add .content .full {
	line-height: 37px;
	float: left;
}

.joincover .add .content .name {
	width: 90px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-align: right;
	margin-right: 10px;
	margin-left: 60px;
}

.joincover .add .content .input {
	background: #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	width: 200px;
	height: 33px;
	font-size: 16px;
	text-indent: 15px;
	outline: none;
}

.joincover .add .content .btn {
	background: #e97c1d;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	margin-top: 10px;
}

.joincover .add .content .desc {
	position: absolute;
	right: -25px;
	bottom: -25px;
	font-size: 12px;
}

.joincover .close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.joincover .success {
	background: rgba(0, 0, 0, 0.74);
	border-radius: 8px;
	width: 650px;
	height: 370px;
	display: inline-block;
	position: relative;
	color: #fff;
}

.joincover .success .border1 {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .success .border2 {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .success .border3 {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .success .border4 {
	position: absolute;
	right: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .success .content {
	width: 450px;
	height: 170px;
	position: absolute;
	left: 100px;
	top: 100px;
}

.joincover .success .content div {
	display: inline-block;
	color: #ffffff;
}

.joincover .success .content .title1 {
	font-family: MLingWaiMedium-TC;
	font-size: 36px;
	line-height: 80px;
}

.joincover .success .content .title2 {
	font-family: .PingFangSC-Regular;
	font-size: 18px;
	line-height: 40px;
}

.joincover .detail {
	background: rgba(0, 0, 0, 0.74);
	border-radius: 8px;
	width: 960px;
	height: 500px;
	display: inline-block;
	position: relative;
	color: #fff;
}

.joincover .detail .border1 {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 860px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .detail .border2 {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 400px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .detail .border3 {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 860px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .detail .border4 {
	position: absolute;
	right: 50px;
	top: 50px;
	height: 400px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .detail .content {
	width: 810px;
	height: 350px;
	position: absolute;
	left: 75px;
	top: 75px;
}

.joincover .detail .content .left {
	width: 42.5%;
	float: left;
	display: inline-block;
	background: rgba(223, 124, 29, 0.3);
	height: 350px;
	font-size: 12px;
	color: #ffffff;
	font-family: .PingFangSC-Regular;
	text-align: left;
}

.joincover .detail .content .left .info {
	width: 90%;
	margin: 5%;
	overflow: auto;
}

.joincover .detail .content .left .name {
	background: #e97c1d;
	width: 85px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}

.joincover .detail .content .left .desc {
	line-height: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.joincover .detail .content .right {
	width: 50%;
	height: 100%;
	padding-left: 5%;
	float: right;
	display: inline-block;
	background: url(../img/travelchip/14.png) left center no-repeat;
}

.joincover .detail .content .right .title {
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
}

.joincover .detail .content .right .numdesc {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
}

.joincover .detail .content .right .totalnum {
	background: #ececec;
	border-radius: 100px;
	width: 400px;
	height: 8px;
	position: relative;
}

.joincover .detail .content .right .currnum {
	background: #ff9436;
	border-radius: 100px;
	width: 100px;
	height: 8px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.joincover .detail .content .right .choose {
	height: 35px;
	line-height: 35px;
}

.joincover .detail .content .right .choose span {
	/*float: left;*/
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #ffffff;
}

.joincover .detail .content .right .choose .money {
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #f5a623;
}

.joincover .detail .content .right .choose .currmoney {
	font-size: 30px;
	font-family: PingFangSC-Regular;
	color: #f5a623;
}

.joincover .detail .content .right .choose .input {
	background: #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	width: 43px;
	height: 33px;
	float: left;
	text-align: center;
	outline: none;
}

.joincover .detail .content .right .info {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
}

.joincover .detail .content .right .btn {
	background: #e97c1d;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	margin-top: 30px;
}


/******************** 立即订购提示框 *********************/

.ordercover {
	position: fixed;
	left: 0px;
	top: 30%;
	width: 100%;
	z-index: 1000;
	text-align: center;
}

.ordercover .add {
	background: rgba(0, 0, 0, 0.74);
	border-radius: 8px;
	width: 920px;
	height: 470px;
	display: inline-block;
	position: relative;
}

.ordercover .add .border1 {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 820px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.ordercover .add .border2 {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 370px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.ordercover .add .border3 {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 820px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.ordercover .add .border4 {
	position: absolute;
	right: 50px;
	top: 50px;
	height: 370px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.ordercover .add .content {
	width: 640px;
	height: 270px;
	position: absolute;
	left: 140px;
	top: 100px;
	font-size: 14px;
	color: #ff9436;
	line-height: 20px;
}

.ordercover .add .content .second {
	margin-top: 25px;
	text-align: center;
	width: 100%;
}

.ordercover .add .content .item1 {
	background: #ff9436;
	border: 1px solid #ff9436;
	width: 199px;
	height: 89px;
	display: inline-block;
	float: left;
	color: #2a2a2a;
}

.ordercover .add .content .item2 {
	border: 1px solid #ff9436;
	width: 113px;
	height: 89px;
	display: inline-block;
	float: left;
}

.ordercover .add .content .item3 {
	border: 1px solid #ff9436;
	width: 156px;
	height: 89px;
	display: inline-block;
	float: left;
}

.ordercover .add .content .item4 {
	border: 1px solid #ff9436;
	width: 156px;
	height: 89px;
	display: inline-block;
	float: left;
}

.ordercover .add .content .item5 {
	border: 1px solid #ff9436;
	width: 90px;
	height: 89px;
	display: inline-block;
	float: left;
}

.ordercover .add .content .item6 {
	border: 1px solid #ff9436;
	width: 132px;
	height: 89px;
	display: inline-block;
	float: left;
}

.ordercover .add .content .item7 {
	border: 1px solid #ff9436;
	width: 98px;
	height: 89px;
	display: inline-block;
	float: left;
}

.ordercover .add .content .item8 {
	border: 1px solid #ff9436;
	width: 125px;
	height: 89px;
	display: inline-block;
	float: left;
	line-height: 89px;
}

.ordercover .add .content .item9 {
	border: 6px solid #ff9436;
	width: 167px;
	height: 79px;
	display: inline-block;
	float: left;
	line-height: 89px;
}

.ordercover .add .content .b1 {
	background: #ff9436;
	width: 431px;
	height: 6px;
}

.ordercover .add .content .b2 {
	background: #ff9436;
	width: 6px;
	height: 182px;
}

.ordercover .add .content .b3 {
	background: #ff9436;
	width: 395px;
	height: 6px;
}

.ordercover .add .content .btn {
	background: #e97c1d;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}

.ordercover .close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.ordercover .success {
	background: rgba(0, 0, 0, 0.74);
	border-radius: 8px;
	width: 950px;
	height: 350px;
	display: inline-block;
	position: relative;
}

.ordercover .success .border1 {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 850px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.ordercover .success .border2 {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 250px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.ordercover .success .border3 {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 850px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.ordercover .success .border4 {
	position: absolute;
	right: 50px;
	top: 50px;
	height: 250px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.ordercover .success .content {
	width: 700px;
	height: 150px;
	position: absolute;
	left: 75px;
	top: 75px;
	line-height: 80px;
	color: #fff;
	display: inline-block;
}

.ordercover .success .content .title {
	font-family: MLingWaiMedium-TC;
	font-size: 36px;
	letter-spacing: 0.48px;
}

.ordercover .success .content .subtitle {
	font-family: .PingFangSC-Regular;
	font-size: 18px;
	letter-spacing: 0.24px;
}