/******************** Head3 *********************/

.head3 .items {
	width: 1100px;
	display: inline-block;
}

.head3 .items .item {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #000;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.head3 .items .item:last-child {
	color: #9b9b9b;
}


/******************** Head4 *********************/

.head4 .items {
	background: #f2f2f2;
	width: 1100px;
	height: 410px;
	display: inline-block;
	position: relative;
}

.head4 .items .bg {
	width: 100%;
	height: 100%;
}

.head4 .items .cover {
	position: absolute;
	right: 50px;
	top: 30px;
	background: rgba(0, 0, 0, 0.55);
	width: 476px;
	height: 350px;
	display: inline-block;
}

.head4 .items .cover .content {
	margin: 40px;
}

.head4 .items .cover .content .title {
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
}

.head4 .items .cover .content .numdesc {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
}

.head4 .items .cover .content .totalnum {
	background: #ececec;
	border-radius: 100px;
	width: 400px;
	height: 8px;
	position: relative;
}

.head4 .items .cover .content .currnum {
	background: #ff9436;
	border-radius: 100px;
	width: 100px;
	height: 8px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.head4 .items .cover .content .choose {
	height: 35px;
	line-height: 35px;
}

.head4 .items .cover .content .choose span {
	float: left;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #ffffff;
}

.head4 .items .cover .content .choose .money {
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #f5a623;
}

.head4 .items .cover .content .choose .currmoney {
	font-size: 20px;
	font-family: PingFangSC-Regular;
	color: #f5a623;
}

.head4 .items .cover .content .choose .input {
	background: #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	width: 43px;
	height: 33px;
	float: left;
	text-align: center;
	outline: none;
}

.head4 .items .cover .content .info {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
}

.head4 .items .cover .content .btn {
	background: #e97c1d;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}


/******************** Head5 *********************/

.head5 {
	background: #f7f7f7;
}

.head5 .items {
	width: 1100px;
	display: inline-block;
	background: #fff;
	margin-bottom: 50px;
}

.head5 .items .item {
	width: 90%;
	float: left;
	margin: 50px 5% 0px;
	display: inline-block;
}

.head5 .item .left {
	width: 50%;
	height: 100%;
	display: inline-block;
	background: url(../img/travelchip/7.png) center 65px no-repeat;
	background-size: 85% 75%;
	float: left;
}

.head5 .item .right {
	width: 40%;
	height: 100%;
	display: inline-block;
	margin-left: 5%;
	float: left;
}

.head5 .item .right .title {
	font-family: MLingWaiMedium-TC;
	font-size: 24px;
	color: #e97c1d;
	line-height: 50px;
}

.head5 .item .right .border {
	height: 1px;
	width: 100%;
	background: #d1d1d1;
	margin-bottom: 30px;
}

.head5 .item .right .border img {
	width: 95px;
	height: 1px;
	float: left;
}

.head5 .item .right .list {
	border-left: 1px solid #ffedcf;
	padding-left: 20px;
	position: relative;
	padding-bottom: 30px;
	float: left;
	line-height: 20px;
}

.head5 .item .right .list img {
	position: absolute;
	left: -5px;
	top: -5px;
}


/******************** 参加众筹提示框 *********************/

.joincover {
	position: fixed;
	left: 0px;
	top: 30%;
	width: 100%;
	z-index: 1000;
	text-align: center;
}

.joincover .add {
	background: rgba(0, 0, 0, 0.74);
	border-radius: 8px;
	width: 650px;
	height: 370px;
	display: inline-block;
	position: relative;
	color: #fff;
}

.joincover .add .border1 {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .add .border2 {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .add .border3 {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .add .border4 {
	position: absolute;
	right: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .add .content {
	width: 450px;
	height: 170px;
	position: absolute;
	left: 100px;
	top: 100px;
}

.joincover .add .content .full {
	line-height: 37px;
	float: left;
}

.joincover .add .content .name {
	width: 90px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-align: right;
	margin-right: 10px;
	margin-left: 60px;
}

.joincover .add .content .input {
	background: #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	width: 200px;
	height: 33px;
	font-size: 16px;
	text-indent: 15px;
	outline: none;
}

.joincover .add .content .btn {
	background: #e97c1d;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	margin-top: 10px;
}

.joincover .add .content .desc {
	position: absolute;
	right: -25px;
	bottom: -25px;
	font-size: 12px;
}

.joincover .close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.joincover .success {
	background: rgba(0, 0, 0, 0.74);
	border-radius: 8px;
	width: 650px;
	height: 370px;
	display: inline-block;
	position: relative;
	color: #fff;
}

.joincover .success .border1 {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .success .border2 {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .success .border3 {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 550px;
	height: 1px;
	background: url(../img/exclusive/14.png) repeat;
}

.joincover .success .border4 {
	position: absolute;
	right: 50px;
	top: 50px;
	height: 270px;
	width: 1px;
	background: url(../img/exclusive/15.png) repeat;
}

.joincover .success .content {
	width: 450px;
	height: 170px;
	position: absolute;
	left: 100px;
	top: 100px;
}

.joincover .success .content div {
	display: inline-block;
	color: #ffffff;
}

.joincover .success .content .title1 {
	font-family: MLingWaiMedium-TC;
	font-size: 36px;
	line-height: 80px;
}

.joincover .success .content .title2 {
	font-family: .PingFangSC-Regular;
	font-size: 18px;
	line-height: 40px;
}


/*照片墙*/

.head5 .item .right2 {
	width: 50%;
	height: 489px;
	margin: 60px auto;
	position: relative;
	background: url(../img/travelchip/13.png) center center no-repeat;
	background-size: 100% 100%;
	float: left;
	margin-left: 5%;
	overflow: hidden;
}

.head5 .item .right2 img {
	position: absolute;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	z-index: 1;
}


/*.head5 .item .right2 img:hover {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 5px 5px 5px #ddd;
	-moz-box-shadow: 5px 5px 5px #ddd;
	box-shadow: 5px 5px 5px #ddd;
	z-index: 2;
	cursor: pointer;
}

.pic1 {
	top: 20px;
	left: 20px;
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.pic2 {
	top: 20px;
	right: 0px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.pic3 {
	bottom: 0;
	right: 0;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

.pic4 {
	bottom: 0;
	left: 120px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.pic5 {
	bottom: 0;
	left: 0;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.pic6 {
	top: 0;
	left: 0;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}

.pic7 {
	top: 0;
	left: 25px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
}

.pic8 {
	bottom: 20px;
	right: 20px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

.pic9 {
	top: 90px;
	left: 200px;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);
}

.pic10 {
	left: 20px;
	top: 20px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}*/