/******************** Head3 *********************/

.head3 .items {
	width: 1100px;
	display: inline-block;
}

.head3 .items .item {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #000;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.head3 .items .item:last-child {
	color: #9b9b9b;
}


/******************** Head4 *********************/

.head4 .items {
	background: #f2f2f2;
	width: 1100px;
	height: 410px;
	display: inline-block;
	position: relative;
}

.head4 .items .bg {
	width: 100%;
	height: 100%;
}

.head4 .items .cover {
	position: absolute;
	right: 50px;
	top: 30px;
	background: rgba(0, 0, 0, 0.55);
	width: 476px;
	height: 350px;
	display: inline-block;
}

.head4 .items .cover .content {
	margin: 40px;
}

.head4 .items .cover .content .title {
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
}

.head4 .items .cover .content .numdesc {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
}

.head4 .items .cover .content .totalnum {
	background: #ececec;
	border-radius: 100px;
	width: 400px;
	height: 8px;
	position: relative;
}

.head4 .items .cover .content .currnum {
	background: #ff9436;
	border-radius: 100px;
	width: 100px;
	height: 8px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.head4 .items .cover .content .choose {
	height: 35px;
	line-height: 35px;
}

.head4 .items .cover .content .choose span {
	float: left;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #ffffff;
}

.head4 .items .cover .content .choose .money {
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #f5a623;
}

.head4 .items .cover .content .choose .currmoney {
	font-size: 30px;
	font-family: PingFangSC-Regular;
	color: #f5a623;
}

.head4 .items .cover .content .choose .input {
	background: #ffffff;
	border: 1px solid #dadada;
	border-radius: 3px;
	width: 43px;
	height: 33px;
	float: left;
	text-align: center;
	outline: none;
}

.head4 .items .cover .content .info {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #ffffff;
}

.head4 .items .cover .content .btn {
	background: #e97c1d;
	border-radius: 3px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}


/******************** Head5 *********************/

.head5 {
	background: #f7f7f7;
}

.head5 .items {
	width: 1100px;
	display: inline-block;
	background: #fff;
	margin-bottom: 50px;
}

.head5 .items .item {
	width: 90%;
	float: left;
	margin: 50px 5% 0px;
	display: inline-block;
}

.head5 .item .left {
	width: 50%;
	height: 100%;
	display: inline-block;
	background: url(../img/travelchip/7.png) center 65px no-repeat;
	background-size: 85% 75%;
	float: left;
}

.head5 .item .right {
	width: 40%;
	height: 100%;
	display: inline-block;
	margin-left: 5%;
	float: left;
}

.head5 .item .right .title {
	font-family: MLingWaiMedium-TC;
	font-size: 24px;
	color: #e97c1d;
	line-height: 50px;
}

.head5 .item .right .border {
	height: 1px;
	width: 100%;
	background: #d1d1d1;
	margin-bottom: 30px;
}

.head5 .item .right .border img {
	width: 95px;
	height: 1px;
	float: left;
}

.head5 .item .right .list {
	border-left: 1px solid #ffedcf;
	padding-left: 20px;
	position: relative;
	padding-bottom: 30px;
	float: left;
	line-height: 20px;
}

.head5 .item .right .list img {
	position: absolute;
	left: -5px;
	top: -5px;
}

.head5 .item .right2 {
	width: 50%;
	height: 489px;
	margin: 60px auto;
	position: relative;
	background: url(../img/travelchip/13.png) center center no-repeat;
	background-size: 100% 100%;
	float: left;
	margin-left: 5%;
	overflow: hidden;
}

.head5 .item .right2 img {
	position: absolute;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	z-index: 1;
}